
// if lt IE 7
  html(class='no-js lt-ie9 lt-ie8 lt-ie7', lang='en')
// if IE 7
  html(class='no-js lt-ie9 lt-ie8', lang='en')
// if IE 8
  html(class='no-js lt-ie9', lang='en')
// if gt IE 8
  html(class='no-js', lang='en')
!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')

    title CodeBlast 2013 - Demo App

    != css('application')

  body

    block content

    != js('application')
