
extends ../../../views/layout

block content
  div.row
    div(class="page-header span12")
      h1 Contacts
  div.row
    div.span4
      ul(class="nav nav-list")
        li.nav-header Search
        li
          input(type="text", class="searchBox search-query", placeholder="Type some name a hit enter...")
        li(class="nav-header") Filters
        li.active
          a(class="filterButton", href="/contacts") All
        li
          a(class="filterButton", href="/contacts/with-phones") With Phones
    div.span8
      nav
        ul.breadcrumb
          li
            a(class="refreshButton", href="#") Refresh

      section#contacts(class='large12 columns')

  template#contact
    article(id="{{_id}}")
      h2
        | {{lastName}}, {{ firstName }} 
        small {{age}} 
        small {{email}}
      div(class='phones inline-list')
        | {{#phones}}
        span(class='label label-info') {{type}}
        span(class='label') {{number}}
        | 
        | {{/phones}}

  template#alphaFilter
    li
      a(class="filterButton", href="/contacts/{{letter}}") {{letter}}
      span.divider /
